 <section class="py-2 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <small>
        hello usted se logueo pero logueo=  <%= user_signed_in? %>
        </small>
        <h1 class="fw-light">welcome to EveBooks</h1>
        <p class="lead text-muted">
        Something short and leading
         about the collection below—its
          contents, the creator, etc. Make it short and sweet, but not too short 
          so folks don’t simply skip over it entirely.</p>
        
      </div>
    </div>
 </section>
 
 <div class="row">

  <div class="col-sm-3">
    <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-3">
          <i class="large material-icons">folder</i>
      </div>
      <div class="col-9">
          <small>Basic card</small>
      </div>
    </div>
    </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-3">
          <i class="large material-icons">folder</i>
      </div>
      <div class="col-9">
          <small>Basic card</small>
      </div>
    </div>
    </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-3">
          <i class="large material-icons">folder</i>
      </div>
      <div class="col-9">
          <small>Basic card</small>
      </div>
    </div>
    </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-3">
          <i class="large material-icons">folder</i>
      </div>
      <div class="col-9">
          <small>Basic card</small>
      </div>
    </div>
    </div>
    </div>
  </div>

</div>