 <section class="py-3">
    <div class="">
      <div class="col-lg-6 alert alert-info rounded p-3">
        <%= raw t('user_html',user: current_user) %>
          <%= raw  t('total_books', user_count:current_user.books_count)%>
          <%= raw  t('total_notes', user_count:current_user.notes_count)%>
  
      </div>
    </div>
 </section>
 