 <section class="py-2 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <%= raw t('user_html',user: current_user) %>
          <%= raw  t('total_books', user_count:current_user.books_count)%>
          <%= raw  t('total_notes', user_count:current_user.notes_count)%>
  
      </div>
    </div>
 </section>
 