<div>
  <%= form_with url: logged_in_notes_path, model:@presenter.filter,
                local:true,
                remote:true,
                method: :get, class: 'form-inline' do |f|
  %>
  <div class="form-group mx-sm-3 ">
    <%= f.select(:sort, [['Ordenado A-Z', :asc], ['Ordenado Z-A', :desc]],{ include_blank: I18n.t(:order_title) }, class: 'form-control  ') %>
  </div><br>
  <% f.select(:global, [['Archivos sin carpeta', :true]], { include_blank: I18n.t(:show_all) }, class: 'form-control  ') %>

  <div class="form-group mx-sm-3 ">
  <%= f.collection_select :book_id, current_user.books_all, :id, :name, { include_blank: I18n.t(:show_all) }, class: 'form-control' %>
  </div>
  <div class="form-group mx-sm-3 ">
    <%= f.submit I18n.t(:find), class: 'btn btn-info ' %>
  </div>
  <% end %>
</div>