<tr>
  <td>
  <div class="row">
  <div class="col-1">
    <i class="large material-icons color-book">description</i>
  </div>
  <div class="col-6">
  <%= note.title %>
  </div>
  
  
  </td>
  <td><%= note.created_at %></td>
  <td>
  <%= link_to 'show', logged_in_note_path(note), class: 'btn btn-sm btn-outline-info text-right' %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Show
</button>
<%= link_to "show", logged_in_note_path(note), remote: true, class: 'btn btn-sm btn-outline-warning' %>

  </td>
</tr>

<br>


