  <ul class="nav nav-tabs ">
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">New Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Export all</a>
    </li>

  </ul>


<br/>