 <section class="py-2 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
       
        <h1 class="fw-light">Books and Notes</h1>
        <p> Tu organizador de notas </p> 
      </div>
    </div>
  </section>