<br/>
<br/>
    <footer class="footer mt-auto py-4 bg-dark p-2">
      <div class="container">
        
          <p><span class="text-muted"><%= t(:content_footer_2)%></span></p>
          <p><span class="text-muted"><%= t(:content_footer) %></span></p>
        
      </div>
    </footer>